# Ignorar archivos de Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Archivos de IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Archivos de compilación
*.class
*.log
*.pyc
*.swp
.DS_Store

# Archivos de entorno
.env

# Base de datos local
*.db
*.sqlite
*.sqlite3
